PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.9wxqdbx.mongodb.net/product-management
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password